
.main-container {
    display: flex;
    outline: solid salmon;
    height: 100vh;
    width: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    outline: solid lightskyblue;
    flex: 1;
}

.box {
    outline: solid;
    flex: 1;
}