
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-button {
    outline: solid;
    background-color: aliceblue;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 12px;
}

.main-container {
    display: flex;
    outline: solid;
    height: 90vh;
    width: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box {
    flex: 1;
}